<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{{Model client server}}</title>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/main.css" type="text/css" />
        <link rel="stylesheet" href="../css/article.css" type="text/css" />
    </head>

    <body>
        <div class="container">
            <header class="row jumbotron">
                <h1>Tecnologías web</h1>
            </header>
            <main class="row article">
                <div class="article-header">
                    <h2>{{ title }}</h2>
                    <img src="https://unsplash.it/1200/600" alt="">
                    <time datetime="2017-09-08">8 de septiembre de 2017</time>
                </div>
                <div class="article-content text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis alias error cupiditate, maiores est qui quia, cum, doloremque ipsa officia mollitia dolorum quisquam enim sint nisi dignissimos animi odit molestias?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis alias error cupiditate, maiores est qui quia, cum, doloremque ipsa officia mollitia dolorum quisquam enim sint nisi dignissimos animi odit molestias?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis alias error cupiditate, maiores est qui quia, cum, doloremque ipsa officia mollitia dolorum quisquam enim sint nisi dignissimos animi odit molestias?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis alias error cupiditate, maiores est qui quia, cum, doloremque ipsa officia mollitia dolorum quisquam enim sint nisi dignissimos animi odit molestias?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis alias error cupiditate, maiores est qui quia, cum, doloremque ipsa officia mollitia dolorum quisquam enim sint nisi dignissimos animi odit molestias?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis alias error cupiditate, maiores est qui quia, cum, doloremque ipsa officia mollitia dolorum quisquam enim sint nisi dignissimos animi odit molestias?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis alias error cupiditate, maiores est qui quia, cum, doloremque ipsa officia mollitia dolorum quisquam enim sint nisi dignissimos animi odit molestias?
                </div>
            </main>
        </div>
    </body>

</html>